.vscode/
ExGraphics/
Graphics/
misc_patches/
OR/
releases/
sprites/
sysLMRestore/
uberasm/
*.pal
*.palmask
*.bin
*.smc
*.srm
*.sfc
*.s16ov
*.sscov
*.exe
*.res
*.ifc
*.obj
*.pdb
*.bst
*.bat
list.txt
known issues.txt