.vscode/
Graphics/
ExGraphics/
sysLMRestore/
releases/
sprites/
uberasm/
*.pal
*.palmask
*.bin
*.smc
*.srm
*.sfc
*.s16ov
*.sscov
*.exe
*.res
*.ifc
*.obj
*.pdb
*.bst
tbl.asm
known issues.txt
Widescree*.asm